<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>sample</title>
  </head>
  <body>
    <div id="app">
      <p>{{ message.split('').reverse().join('') }}</p>
      <p>{{ reversedMessage }}</p>
      <p>{{ reversedMessageMethod() }}</p>

      <p>税抜き価格：<input type="text" v-model="basePrice"></p>
      <p>税込み価格：<input type="text" v-model="taxIncludedPrice"></p>

      <h2>computed</h2>
      <ol>
        <li>{{ computedNumber }}</li>
        <li>{{ computedNumber }}</li>
        <li>{{ computedNumber }}</li>
      </ol>

      <h2>Methods</h2>
      <ol>
        <li>{{ methodsNumber() }}</li>
        <li>{{ methodsNumber() }}</li>
        <li>{{ methodsNumber() }}</li>
      </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./script/script.js"></script>
  </body>
</html>
